<style>.home {
  border: none;
  color: white;
  padding: 0px 0px;
  font-size: 30px;
  cursor: pointer;
}
</style>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <a class="home" href="/"><i class="fa fa-home"></i></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item active">

      </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <img src="" alt="" class="user-avatar">
                Menu
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="/search">Search</a>
                <a class="dropdown-item" href="/courses/create">Tải lên dữ liệu</a>
                <a class="dropdown-item" href="/me/stored/courses">Chỉnh sửa dữ liệu</a>
                <a class="dropdown-item" href="/me/stored/courses"></a>

                <div class="dropdown-divider"></div>
              </div>
      </li>
    </ul>
    
  </div>
  </div>
</nav>